<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->

	<appSettings>
		<add key="MyAppSetting" value="A test value." />
	</appSettings>
	

<!--<appSettings>
		<add key="grant_type" value="client_credentials"/>
		<add key="ClientId" value="cc1f9793-3910-4118-9385-9db53f2166cd"/>
		<add key="TenantId" value="b759a000-2d88-41f3-8342-da932d621ed5"/>
		<add key="resource" value="https://graph.windows.net"/>
        <add key="scope" value="openid"/>
        <add key="client_secret" value="C5ygULgOQKI-Jcy6H-._Ui-a5X1rOnC03c"/>
        <add key="username" value="alok@iamaorg.onmicrosoft.com"/>
        <add key="password" value="#Shivlokant98"/>
	</appSettings>-->


</configuration>